{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="mt-20">
        <div class="flex flex-col items-center justify-center align-middle h-full">
            {% for error in app.flashes('error') %}
                <div class="alert alert-error alert-soft mb-10">{{ error }}</div>
            {% endfor %}

            <h1 class="text-2xl mb-3 font-bold">Reset your password</h1>

            {{ form_start(resetPasswordForm) }}

            <label class="input mt-8">
                {{ form_widget(resetPasswordForm.plainPassword.first,
                    {'attr': {'placeholder': 'Enter your password'}}) }}
            </label>
            <label class="input mt-2">
                {{ form_widget(resetPasswordForm.plainPassword.second,
                    {'attr': {'placeholder': 'Confirm your password'}}) }}
            </label>
            <div class="text-error">
                {{ form_errors(resetPasswordForm.plainPassword.first) }}
            </div>

            <div class="mt-5">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>

            {{ form_end(resetPasswordForm) }}
        </div>
    </div>
{% endblock %}
