<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VL - Library{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
    {% endblock %}
</head>
<body>

<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl" href="{{ path('app_main') }}">VL - Library</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li><a aria-current="page" href="{{ path('app_main') }}">Home</a></li>
            <li><a aria-current="page" href="{{ path('app_book_listing') }}">Book listing</a></li>
        </ul>
    </div>
</div>

{% block body %}{% endblock %}
</body>
</html>
